:root{
  --white: #FFFFFF;
  --ligth: #FDE7D8;
  --pumpkin: #F27420;
  --licorice: #180B02;
  --green: #5EFC8D;
  --red: #E83F6F;
}
#root{
  display: grid;
  grid-template-columns: 6.25rem 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "footer footer";
  min-height: 100vh;
  width: 100%;
}
.navbar{
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--licorice);
  background-color: var(--ligth);
}
.sidebar{
  grid-area: sidebar;
  background-color: burlywood;
}
.main{
  grid-area: main;
}

.logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 5rem;
}
.title{
  text-transform: uppercase;
  margin: 0.5rem 1rem;
}
.subtitle{
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: 600;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem;
  border: 2px solid black;
  border-radius: 1rem;
  overflow: hidden;
}
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;
}
.image{
  width: 100%;
  height: auto;
}
.text-container{
  width: 50%;
  padding-right: 1.5rem;
}
/* Footer Component */
.footer{
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: darkred;
}
.footer-text{
  display: flex;
  align-items: center;
}
.footer-list{
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
.footer-actions{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.network-container, .language-container, .currency-container, .network-container{
  display: flex;
  align-items: center;
}
.footer-icon{
  margin-right: 0.25rem;
  width: auto;
  height: 1.25rem;
}