@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
  --white: #FFFFFF;
  --ligth: #FDE7D8;
  --pumpkin: #F27420;
  --licorice: #180B02;
  --green: #5EFC8D;
  --red: #E83F6F;

  --title-font: 'Playfair Display';
  --main-font: 'Lato';
}
#root{
  display: grid;
  grid-template-columns: 6.25rem 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "footer footer";
  min-height: 100vh;
  width: 100%;
  font-weight: 400;
  font-family: var(--main-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--licorice);
}
.navbar{
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: var(--licorice);
  background-color: var(--pumpkin);
}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 5rem;
}
.title{
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0.5rem 1rem;
  font-family: var(--title-font), Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.subtitle{
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: 400;
  font-style: italic;
}
.subtitle::before{
  content: "\201C";
}
.subtitle::after{
  content: "\201D";
}
.sidebar{
  grid-area: sidebar;
  background-color: var(--white);
}
.main{
  grid-area: main;
  background-color: var(--ligth);
}
.card{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem;
  background-color: var(--white);
  border: 0.0625rem solid var(--licorice);
  border-radius: 1rem;
  overflow: hidden;
}
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.image{
  width: 100%;
  height: auto;
}
.text-container{
  height: 100%;
  width: 50%;
  padding: 1.5rem 1.5rem 1.5rem 0;
}
.card-title{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--title-font), Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Footer Component */
.footer{
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: var(--pumpkin);
}
.footer-text{
  display: flex;
  align-items: center;
}
.footer-list{
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
.footer-actions{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.network-container, .language-container, .currency-container, .network-container{
  display: flex;
  align-items: center;
}
.footer-icon{
  margin-right: 0.25rem;
  width: auto;
  height: 1.25rem;
}