

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.logo {
  height: 5rem;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem;
  border: 2px solid black;
  border-radius: 1rem;
  overflow: hidden;
}
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;
}
.image{
  width: 100%;
  height: auto;
}
.text-container{
  width: 50%;
  padding-right: 1.5rem;
}
